In [93]:
import pandas as pd
import numpy as np

In [94]:
data = pd.read_csv('https://corgis-edu.github.io/corgis/datasets/csv/weather/weather.csv') #importing data

In [95]:
data.head() #checking data

,Data.Precipitation,Date.Full,Date.Month,Date.Week of,Date.Year,Station.City,Station.Code,Station.Location,Station.State,Data.Temperature.Avg Temp,Data.Temperature.Max Temp,Data.Temperature.Min Temp,Data.Wind.Direction,Data.Wind.Speed
0,0.00,2016-01-03,1,3,2016,Birmingham,BHM,"Birmingham, AL",Alabama,39,46,32,33,4.33
1,0.00,2016-01-03,1,3,2016,Huntsville,HSV,"Huntsville, AL",Alabama,39,47,31,32,3.86
2,0.16,2016-01-03,1,3,2016,Mobile,MOB,"Mobile, AL",Alabama,46,51,41,35,9.73
3,0.00,2016-01-03,1,3,2016,Montgomery,MGM,"Montgomery, AL",Alabama,45,52,38,32,6.86
4,0.01,2016-01-03,1,3,2016,Anchorage,ANC,"Anchorage, AK",Alaska,34,38,29,19,7.80

## Getting basic information about the data

In [96]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16743 entries, 0 to 16742
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Data.Precipitation         16743 non-null  float64
 1   Date.Full                  16743 non-null  object
 2   Date.Month                 16743 non-null  int64
 3   Date.Week of               16743 non-null  int64
 4   Date.Year                  16743 non-null  int64
 5   Station.City               16743 non-null  object
 6   Station.Code               16743 non-null  object
 7   Station.Location           16743 non-null  object
 8   Station.State              16743 non-null  object
 9   Data.Temperature.Avg Temp  16743 non-null  int64
 10  Data.Temperature.Max Temp  16743 non-null  int64
 11  Data.Temperature.Min Temp  16743 non-null  int64
 12  Data.Wind.Direction        16743 non-null  int64
 13  Data.Wind.Speed            16743 non-null  float64
dtypes: float64(2), int64(7), object(5)
memory usage: 1.8+ MB

In [97]:
data.isnull().sum()

Data.Precipitation           0
Date.Full                    0
Date.Month                   0
Date.Week of                 0
Date.Year                    0
Station.City                 0
Station.Code                 0
Station.Location             0
Station.State                0
Data.Temperature.Avg Temp    0
Data.Temperature.Max Temp    0
Data.Temperature.Min Temp    0
Data.Wind.Direction          0
Data.Wind.Speed              0
dtype: int64

In [98]:
data.shape

(16743, 14)

In [99]:
data.dtypes

Data.Precipitation           float64
Date.Full                     object
Date.Month                     int64
Date.Week of                   int64
Date.Year                      int64
Station.City                  object
Station.Code                  object
Station.Location              object
Station.State                 object
Data.Temperature.Avg Temp      int64
Data.Temperature.Max Temp      int64
Data.Temperature.Min Temp      int64
Data.Wind.Direction            int64
Data.Wind.Speed              float64
dtype: object

In [100]:
data.size

234402

In [101]:
data.columns

Index(['Data.Precipitation', 'Date.Full', 'Date.Month', 'Date.Week of',
       'Date.Year', 'Station.City', 'Station.Code', 'Station.Location',
       'Station.State', 'Data.Temperature.Avg Temp',
       'Data.Temperature.Max Temp', 'Data.Temperature.Min Temp',
       'Data.Wind.Direction', 'Data.Wind.Speed'],
      dtype='object')

## Analyzing data

In [102]:
data.describe()

,Data.Precipitation,Date.Month,Date.Week of,Date.Year,Data.Temperature.Avg Temp,Data.Temperature.Max Temp,Data.Temperature.Min Temp,Data.Wind.Direction,Data.Wind.Speed
count,16743.000000,16743.000000,16743.000000,16743.000000,16743.000000,16743.000000,16743.000000,16743.000000,16743.000000
mean,0.579090,6.343128,15.650242,2016.018933,56.089112,66.042406,45.642716,18.791316,6.329820
std,0.988057,3.490723,8.923425,0.136294,18.798295,19.787954,18.559263,6.461527,3.494785
min,0.000000,1.000000,1.000000,2016.000000,-27.000000,-19.000000,-35.000000,0.000000,0.000000
25%,0.000000,3.000000,8.000000,2016.000000,44.000000,53.000000,33.000000,15.000000,4.040000
50%,0.190000,6.000000,16.000000,2016.000000,58.000000,68.000000,47.000000,19.000000,5.940000
75%,0.750000,9.000000,24.000000,2016.000000,71.000000,82.000000,60.000000,23.000000,8.080000
max,20.890000,12.000000,31.000000,2017.000000,100.000000,111.000000,88.000000,36.000000,61.100000

In [103]:
data.describe(include='object')

         Date.Full Station.City Station.Code Station.Location Station.State
count        16743        16743        16743            16743         16743
unique          53          307          318              318            53
top     2017-01-01      Norfolk          BHM   Birmingham, AL        Alaska
freq           317          106           53               53          1719

In [104]:
print("Maximum precipitation was recorded on ",data.sort_values(by='Data.Precipitation',ascending=False).iloc[0]['Date.Full'])  
print("Maximum precipitation was recorded at ",data.sort_values(by='Data.Precipitation',ascending=False).iloc[0]['Station.Location'])
print("Minimum precipitation was recorded on ",data.sort_values(by='Data.Precipitation',ascending=True).iloc[0]['Date.Full'])  
print("Minimum precipitation was recorded at ",data.sort_values(by='Data.Precipitation',ascending=True).iloc[0]['Station.Location'])
print('\n')
print("Maximum temperature was recorded on ",data.sort_values(by='Data.Temperature.Max Temp',ascending=False).iloc[0]['Date.Full'])  
print("Maximum temperature was recorded at ",data.sort_values(by='Data.Temperature.Max Temp',ascending=False).iloc[0]['Station.Location'])
print("Minimum temperature was recorded on ",data.sort_values(by='Data.Temperature.Min Temp',ascending=True).iloc[0]['Date.Full'])  
print("Minimum temeprature was recorded at ",data.sort_values(by='Data.Temperature.Min Temp',ascending=True).iloc[0]['Station.Location'])
print('\n')
print("Maximum wind speed was recorded on ",data.sort_values(by='Data.Wind.Speed',ascending=False).iloc[0]['Date.Full'])  
print("Maximum wind speed was recorded at ",data.sort_values(by='Data.Wind.Speed',ascending=False).iloc[0]['Station.Location'])
print("Minimum wind speed was recorded on ",data.sort_values(by='Data.Wind.Speed',ascending=True).iloc[0]['Date.Full'])  
print("Minimum wind speed was recorded at ",data.sort_values(by='Data.Wind.Speed',ascending=True).iloc[0]['Station.Location'])

Maximum precipitation was recorded on  2016-08-14
Maximum precipitation was recorded at  Baton Rouge, LA
Minimum precipitation was recorded on  2016-01-03
Minimum precipitation was recorded at  Birmingham, AL


Maximum temperature was recorded on  2016-07-31
Maximum temperature was recorded at  China Lake, CA
Minimum temperature was recorded on  2016-12-04
Minimum temeprature was recorded at  Bettles, AK


Maximum wind speed was recorded on  2016-03-06
Maximum wind speed was recorded at  Mt. Washington, NH
Minimum wind speed was recorded on  2016-12-04
Minimum wind speed was recorded at  Marquette, MI

In [105]:
stations = pd.DataFrame(data.groupby('Station.Location')['Date.Full'].count().reset_index())   #counting number of recording stations at difference places
stations.sort_values(by='Date.Full',ascending=False,inplace=True)
stations.head(5)

    Station.Location  Date.Full
0       Aberdeen, SD         53
206      Norfolk, VA         53
214      Orlando, FL         53
213        Omaha, NE         53
212      Olympia, WA         53

In [106]:
print(stations.iloc[0]['Station.Location']) #place with maximum number of recording stations

Aberdeen, SD

In [107]:
print(stations.tail(1)['Station.Location']) #place with minimum number of recording stations

293    Unalakleet, AK
Name: Station.Location, dtype: object

In [108]:
stations=data.pivot_table(index='Station.State',values='Date.Full',aggfunc= 'count').sort_values(by='Date.Full',ascending=False).reset_index()
print('The state receiving most number of daily weather reports is',stations.iloc[0]['Station.State'])

The state receiving most number of daily weather reports is Alaska

In [109]:
# finding out windiest recording stations

median_speed=data['Data.Wind.Speed'].median()
print('The cities where wind speed is more than the median wind speed are ','\n',pd.Series(data[data['Data.Wind.Direction']>median_speed]['Station.Location'].unique()).str.split(',',expand=True)[0].values)

The cities where wind speed is more than the median wind speed are
 ['Birmingham' 'Huntsville' 'Mobile' 'Montgomery' 'Anchorage' 'Annette'
 'Bethel' 'Cold Bay' 'Cordova' 'Delta Junction/Ft Greely' 'Gulkana'
 'Homer' 'Iliamna' 'Juneau' 'Kenai' 'Ketchikan' 'King Salmon' 'Kodiak'
 'Kotzebue' 'Mc Grath' 'Nome' 'Northway' 'Palmer' 'Petersburg' 'Sitka'
 'Skagway' 'St Paul Island' 'Tanana' 'Utqiagvik (Barrow)' 'Yakutat'
 'Douglas Bisbee' 'Phoenix' 'Tucson' 'Winslow' 'Fort Smith' 'Harrison'
 'Bakersfield' 'Bishop' 'China Lake' 'Concord' 'Fresno' 'Hayward'
 'Long Beach' 'Los Angeles' 'Red Bluff' 'Redding' 'Sacramento' 'Salinas'
 'San Diego' 'San Francisco' 'Sandberg' 'Santa Barbara' 'Santa Maria'
 'Stockton' 'Alamosa' 'Colorado Springs' 'Craig' 'Denver' 'Grand Junction'
 'Pueblo' 'Bridgeport' 'Windsor Locks' 'Newark' 'Wilmington'
 'Daytona Beach' 'Fort Lauderdale' 'Gainesville' 'Jacksonville' 'Key West'
 'Miami' 'Orlando' 'Pensacola' 'Tallahassee' 'Tampa' 'Vero Beach'
 'West Palm Beach' 'Alma' 'Athens' 'Atlanta' 'Augusta' 'Macon' 'Savannah'
 'Hilo' 'Honolulu' 'Kaunakakai' 'Lihue' 'Boise' 'Lewiston' 'Chicago'
 'Moline' 'Peoria' 'Quincy' 'Rockford' 'Springfield' 'Evansville'
 'Fort Wayne' 'Indianapolis' 'South Bend' 'Cedar Rapids' 'Des Moines'
 'Dubuque' 'Sioux City' 'Waterloo' 'Concordia' 'Dodge City' 'Goodland'
 'Medicine Lodge' 'Topeka' 'Wichita' 'Covington' 'Jackson' 'Lexington'
 'Louisville' 'Paducah' 'Baton Rouge' 'Lake Charles' 'New Orleans'
 'Shreveport' 'Slidell' 'Bangor' 'Caribou' 'Portland' 'Baltimore'
 'Salisbury' 'Boston' 'Milton' 'Worcester' 'Alpena' 'Detroit' 'Flint'
 'Grand Rapids' 'Houghton Lake' 'Lansing' 'Muskegon' 'Sault Ste Marie'
 'Duluth' 'International Falls' 'Minneapolis' 'Rochester' 'St Cloud'
 'Greenville' 'Greenwood' 'Gulfport' 'Hattiesburg' 'Jackson' 'Meridian'
 'Tupelo' 'Cape Girardeau' 'Columbia' 'Kansas City' 'Rolla/Vichy'
 'Springfield' 'St Joseph' 'St Louis' 'Billings' 'Butte' 'Cut Bank'
 'Dillon' 'Glasgow' 'Great Falls' 'Havre' 'Helena' 'Kalispell'
 'Miles City' 'Missoula' 'Grand Island' 'Lincoln' 'Norfolk' 'North Platte'
 'Omaha' 'Scottsbluff' 'Sidney' 'Valentine' 'Ely' 'Eureka' 'Las Vegas'
 'Mercury' 'Reno' 'Winnemucca' 'Concord' 'Mt. Washington' 'Atlantic City'
 'Newark' 'Albuquerque' 'Clayton' 'Roswell' 'Albany' 'Binghamton'
 'Buffalo' 'Glens Falls' 'Islip' 'New York' 'Rochester' 'Syracuse'
 'Asheville' 'Cape Hatteras' 'Charlotte' 'Greensboro' 'Hickory'
 'Raleigh/Durham' 'Wilmington' 'Bismarck' 'Dickinson' 'Fargo'
 'Grand Forks' 'Williston' 'Akron' 'Cleveland' 'Columbus' 'Dayton'
 'Mansfield' 'Toledo' 'Youngstown/Warren' 'Gage' 'Oklahoma City'
 'Ponca City' 'Tulsa' 'Astoria' 'Burns' 'Medford' 'Pendleton' 'Portland'
 'Redmond' 'Salem' 'Allentown' 'Erie' 'Harrisburg' 'Philadelphia'
 'Pittsburgh' 'Wilkes-Barre/Scranton' 'Williamsport' 'San Juan'
 'Providence' 'Anderson' 'Charleston' 'Columbia' 'Greer' 'Aberdeen'
 'Huron' 'Pierre' 'Rapid City' 'Sioux Falls' 'Bristol/Jhnsn Cty/Kngsprt'
 'Chattanooga' 'Clarksville' 'Crossville' 'Knoxville' 'Memphis'
 'Nashville' 'Oak Ridge' 'Abilene' 'Amarillo' 'Austin/Bergstrom'
 'Austin/City' 'Beaumont/Port Arthur' 'Brownsville' 'Childress'
 'College Station' 'Corpus Christi' 'Dalhart' 'Dallas' 'Dallas-Fort Worth'
 'Del Rio' 'Fort Worth' 'Galveston' 'Houston' 'Lubbock' 'Midland'
 'San Angelo' 'San Antonio' 'Victoria' 'Waco' 'Wichita Falls'
 'Salt Lake City' 'Blacksburg' 'Burlington' 'Lynchburg' 'Norfolk'
 'Richmond' 'Roanoke' 'Wallops Island' 'Washington' 'Deer Park' 'Ephrata'
 'Olympia' 'Quillayute' 'Seattle' 'Yakima' 'Beckley' 'Charleston' 'Elkins'
 'Huntington' 'Green Bay' 'La Crosse' 'Madison' 'Milwaukee' 'Casper'
 'Cheyenne' 'Lander' 'Rawlins' 'Sheridan' 'Bettles' 'Fairbanks' 'Shemya'
 'Talkeetna' 'Kingman' 'Kahului' 'Pocatello' 'Eugene' 'El Paso' 'Spokane'
 'Gustavus' 'Wrangell' 'Unalakleet']

In [110]:
data['Data.Wind.Direction'].describe()  #exploring wind speed statistics

count    16743.000000
mean        18.791316
std          6.461527
min          0.000000
25%         15.000000
50%         19.000000
75%         23.000000
max         36.000000
Name: Data.Wind.Direction, dtype: float64

At most stations, wind blows at 19 degrees